/*
 * -------------------------------------------------
 *  IlDA Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

/* 
 * pipeline input parameters 
 */
params {
  // Email for the job notifications, start, end, fail
  notification_mail        = "erika.souche@uzleuven.be"
  
  // General parameters, needed for all analyses
  sampleid                 = ""
  outdir                   = "/staging/leuven/stg_00124/Erika_research/IlDA_runs/${params.sampleid}"
  
  //hg38
  genome                   = "hg38"
  genomeref                = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna" 
  genomeref_index          = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
  genomeref_amb            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.amb"
  genomeref_ann            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.ann"
  genomeref_bwt            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.bwt"
  genomeref_pac            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.pac"
  genomeref_sa             = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.sa"
  //hg38_masked_a
  /*genome                   = "hg38" 
  genomeref                = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa" 
  genomeref_index          = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa.fai"
  genomeref_amb            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa.amb"
  genomeref_ann            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa.ann"
  genomeref_bwt            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa.bwt"
  genomeref_pac            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa.pac"
  genomeref_sa             = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_a_masked.fa.sa" */
  //hg38_masked_b
  /*genome                   = "hg38"
  genomeref                = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa" 
  genomeref_index          = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa.fai"
  genomeref_amb            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa.amb"
  genomeref_ann            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa.ann"
  genomeref_bwt            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa.bwt"
  genomeref_pac            = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa.pac"
  genomeref_sa             = "/staging/leuven/stg_00124/Erika_research/NF1_microdeletion/Seppe/GRCh38_NF1_region_b_masked.fa.sa" */
  //equCab3
  /*genome                   = "equCab3"
  genomeref                = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa" 
  genomeref_index          = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa.fai"
  genomeref_amb            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa.amb"
  genomeref_ann            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa.ann"
  genomeref_bwt            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa.bwt"
  genomeref_pac            = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa.pac"
  genomeref_sa             = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equCab3.fa.sa" 
  gc_file                  = "/staging/leuven/stg_00019/research/nextflowPipeline/Resources/Horse/equcab_50kb_bins_nuc_content.bed"*/
  
  // Input files parameters
  // FASTQ files
  r1_fastq                 = ""
  r2_fastq                 = ""

  // BAM file and BAM index in case mapping already done
  bam                      = ""
  bam_index                = ""

  // SNV file
  snv_indel_vcf            = ""

  //  Pre-processing parameters
  clipped_length           = ""
  merge_fastq_files        = "no"
  merge_reads              = "no"

  // Mapping parameter
  mapping                  = "yes"

  // SNV calling parameter
  snv_calling              = "yes"
  deepvariant_model        = "WGS"

  // ROH
  roh_calling              = "yes"
  roh_G                    = "30"
  roh_AF                   = "0.4"

  // CNV calling parameter
  cnv_calling              = "yes"
}

// Global default params, used in configs
workDir = '/'

// Process parameters
params.max_memory          = 160.GB
params.max_cpus            = 36
params.max_time            = 168.h
// 160 GB 36 cores 168h are max on VSC

// Profiles
// 
profiles {
  docker      {
  enabled = true
  runOptions = '-u \$(id -u):\$(id -g)'
  }
 singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.pullTimeout = '300 min'
    singularity.cacheDir = "/staging/leuven/stg_00019/research/nextflowPipeline/singularity_images/"
    singularity.runOptions = '--cleanenv -H $PWD -B /lustre1,/staging,/data,${VSC_SCRATCH},${TMPDIR},${VSC_SCRATCH}/tmp:/tmp'
 }
srun {
    process.clusterOptions = "--mail-user=${params.notification_mail} --mail-type=FAIL,BEGIN,END -M wice -A lp_joris_vermeesch -p dedicated_cytolab_bigmem"
    process.executor = 'slurm'
  }
srun_new {
    process.clusterOptions = "--mail-user=${params.notification_mail} --mail-type=FAIL,BEGIN,END -M wice -A lp_joris_vermeesch "
    process.executor = 'slurm'
    executor.exitReadTimeout = '10h'
  }  
debug {
    process.clusterOptions = "-A lp_joris_vermeesch -l qos=debugging"
  }
}


// Manifest info
manifest {
  name = 'IlDA'
  author = 'JorisVermeeschLab'
  homePage = 'https://github.com/JorisVermeeschLab/PANDA'
  description = 'Illumina Data Analysis pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.0.1'
}


process {
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = '-1'

  // Process-specific resource requirements
  withLabel: cpu_low {
    cpus   = { check_max( 8 * task.attempt, 'cpus' ) }
  }
  withLabel: cpu_mid {
    cpus   = { check_max( 18 * task.attempt, 'cpus' ) }
  }
  withLabel: cpu_high {
    cpus   = { check_max( 36 * task.attempt, 'cpus' ) }
  }

  withLabel: mem_low {
    memory   = { check_max( 32.GB * task.attempt, 'memory' ) }
  }
  //64.GB
  withLabel: mem_mid {
    memory   = { check_max( 64.GB * task.attempt, 'memory' ) }
  }
  withLabel: mem_high {
    memory   = { check_max( 160.GB * task.attempt, 'memory' ) }
  }

  withLabel: time_low {
    time   = { check_max( 2.h * task.attempt, 'time' ) }
  }
  withLabel: time_mid {
    time   = { check_max( 24.h * task.attempt, 'time' ) }
  }
  withLabel: time_high {
  time   = { check_max( 72.h * task.attempt, 'time' ) }
    //time   = { check_max( 168.h * task.attempt, 'time' ) }
  }
  withLabel: time_superhigh {
  time   = { check_max( 168.h * task.attempt, 'time' ) }
  }
 
 
  withLabel: private_node {
      clusterOptions = '--mail-user=erika.souche@uzleuven.be --mail-type=FAIL,BEGIN,END -M wice -A lp_joris_vermeesch -p dedicated_cytolab_bigmem'
  }
  withLabel: wice_node {
      clusterOptions = '--mail-user=erika.souche@uzleuven.be --mail-type=FAIL,BEGIN,END -M wice -A lp_genomics_core_leuven -N 1 --ntasks=18 --mem=230G --partition=batch --time=24:00:00'
       maxForks = 1
  }
  withLabel: long_node {
      clusterOptions = '--mail-user=erika.souche@uzleuven.be --mail-type=FAIL,BEGIN,END -M wice -A lp_joris_vermeesch -p batch_icelake_long --time=168:00:00'
  }
  withLabel: new_with_A100 {
      clusterOptions = '--mail-user=erika.souche@uzleuven.be --mail-type=FAIL,BEGIN,END -M wice -A lp_joris_vermeesch -N 1 --ntasks=18 --gpus-per-node=1  --partition=gpu --time=72:00:00'
       maxForks = 1
  }
  withLabel: bigmem {
       clusterOptions = "-M wice -A lp_joris_vermeesch -p dedicated_cytolab_bigmem -c 42 -t 32:00:00 --mem 1000G"
       maxForks = 1
  }
  withLabel: bigmemnodewice {
       clusterOptions = "-M wice -A lp_joris_vermeesch -p dedicated_cytolab_bigmem -c 36 -t 24:00:00"
       maxForks = 1
  }

  // Images
  withLabel:flash2 {
    container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-flash2.v2.2.00'
  }
  withLabel:bwa {
    container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-bwa.v0.7.19_samtools.v1.21'
  }
  withLabel:samtools {
    container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-bwa.v0.7.19_samtools.v1.21'
  }
  withLabel:gatk {
    container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-gatk.v4.6.2.0'
  }
  withLabel:deepvariant {
     container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-deepvariant.v1.8.0'
  }
  withLabel:bcftools {
     container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-bcftools.v1.22'
  }
  withLabel:karyoploter {
     container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-karyoploter.v1.32.0'
  }
  withLabel:mosdepth {
    container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-mosdepth.v0.3.11'
  }
  withLabel:qdnaseq {
    container = 'europe-west1-docker.pkg.dev-diagnostics-uz-jorisvermeersch-qdnaseq.v1.42.0'
  }
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      // return params.max_cpus as int
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}


